In [1]:
valor1 = input ('Digite um numero inteiro:')
valor2 = input ('Digite outro numero inteiro:')

In [2]:
print (valor1 == valor2)
print (valor1 > valor2)
print (valor1 < valor2)
print (valor1 >= valor2)
print (valor1 <= valor2)

False
False
True
False
True

In [3]:
L = []

In [4]:
L = list ()

In [5]:
dias = [3, 1, 10]

In [6]:
dias [0]

3

In [7]:
dias [1]

1

In [8]:
dias [2]

10

In [9]:
Z = [3, 8, 9]

In [10]:
Z[0] = 7

In [11]:
Z

[7, 8, 9]

In [12]:
a = [81, 82, 83]

In [13]:
b = a[:]

In [14]:
print (a==b)

True

In [15]:
print (a is b)

False

In [16]:
b [0] = 5

In [17]:
print (a)

[81, 82, 83]

In [18]:
print (b)

[5, 82, 83]

In [19]:
uma_lista = ['a', 'b','c', 'd','e', 'f']

In [20]:
print (uma_lista[1:3])

['b', 'c']

In [21]:
print (uma_lista[:4])

['a', 'b', 'c', 'd']

In [22]:
print (uma_lista[3:])

['d', 'e', 'f']

In [23]:
print (uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
a = [1,2,3]

In [25]:
b = a [:]

In [26]:
b[0]=5

In [27]:
print(a[3])

IndexError: list index out of range

In [51]:
minhaLista = [76, 92.3, "oi", True, 4, 76, ]

In [52]:
minhaLista = [76, 92.3, "oi", True, 4, "pitomba", 76, ]

In [57]:
minhaLista [:]

[99, 92.3, 'oi', 'cibele', 4, 'pitomba', 76]

In [54]:
minhaLista [3] = "cibele"

In [49]:
print(minhaLista[2:3])

['oi']

In [56]:
minhaLista [0] = 99

In [58]:
uma_lista = [4,2,8,6,5]

In [59]:
uma_lista = uma_lista + ["cibele"]

In [60]:
print (uma_lista)

[4, 2, 8, 6, 5, 'cibele']

In [61]:
tupla_numeros = (10,20,30)

In [62]:
tupla_numeros

(10, 20, 30)

In [63]:
tupla_nova = 10,20,30

In [64]:
tupla_nova

(10, 20, 30)

In [65]:
tupla_elemento = 10

In [66]:
tupla_elemento

10

In [67]:
tupla_vazia = ()

In [68]:
tupla_vazia

()

In [69]:
dicio = {'chave': 'valor'}

In [70]:
print (type (dicio))

<class 'dict'>

In [71]:
d = {'laranja': 15, 'bananas':35, 'siriguela':12}

In [72]:
d['bananas']

35

In [73]:
d ["pitomba"]=20

In [74]:
len (d)

4

In [75]:
'pitomba' in d

True

In [79]:
del d['laranja']

In [80]:
'laranja' in d

False

In [81]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [82]:
print ([1,2] + [3,4])

[1, 2, 3, 4]

In [83]:
print (frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [84]:
print ([0]*4)

[0, 0, 0, 0]

In [85]:
print ([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]